<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<script
  	src="https://code.jquery.com/jquery-3.3.1.min.js"
  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  	crossorigin="anonymous"></script>
	<script type = "text/javascript" src ="{% static "js/area_list.js" %}"></script>
	<link href="{% static 'css/lqi_css.css' %}" rel="stylesheet">
	<title>welcometolqi</title>
<body>
    <div class = "head_bar">
		<div id = lqi_logo>
			<img id = lqi_logo_pic src="{% static "images/LQI_logo_1.png" %}">
		</div>
			<span id = 'title'>歡迎來到苙寬資料庫</span>
	</div>
	<div class="list_for_price">
    	<div class = 'area'>
    		<form  name = 'area_form' id = 'area_form' method="post" >
    		{% csrf_token %}
            	<span>選擇縣市</span>
            	<select id = "country-list" name = "country-list"  ></select>
            	<span>選擇區域</span>
            	<select name="area-list" id="area-list"></select>
							</br></br>
				<span>交易年份</span>
				<select id = "price-time_1" name = "price-time_1"  ></select>
				<span>-</span>
				<select id = "price-time_2" name = "price-time_2"></select>
           		<p><input type="submit" value="ok" name = "chart_serach_button"></p>
    		</form>
    	</div>
	</div>
	<script >
	$(function(){
		var country_list = {
			'臺北市' : "A" , '臺中市' : "B", '基隆市' : "C",
			'臺南市' : "D" , '高雄市' : "E", '新北市' : "F",
			'宜蘭縣' : "G" , '桃園市' : "H", '新竹縣' : "J",
			'新竹市' : "O" ,
		}

		$('#area_form').submit(function(event) {
			event.preventDefault();
			var area_form = $('#area_form').serializeArray()
			var country = area_form[1]["value"]
			var country_area = area_form[2]["value"]
			var year_1 = area_form[3]["value"]
			var year_2 = area_form[4]["value"]

			console.log(country_list[country])
		
		$.ajax({
			async : false,
			datatype : 'json',
			url : "http://127.0.0.1:8000/api/landpoint_"+country_list[country],
			success : function(data){
		
				for (var i=0; i=(Math.floor(data["count"]/20)); i++){
				$.ajax({
					async : false,
					datatype : 'json',
					url : 'http://127.0.0.1:8000/api/landpoint_A/?page='+i,
					success : function(data){
						console.log(data)
					}

				})}

				/*
				var a = 0 
				for (var i = 0; i<data["results"]["length"]; i++){
					var price = data["results"][i]['f21a']
					a += price
					console.log(a)
				}*/
			}});
		});
		})
	</script>		
</body>
</html>