<!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, intial-scale=1.0">

	
	<script type = "text/javascript" src ="{% static "script/jQuery3.3.1.js" %}"></script>
	<script type = "text/javascript" src ="{% static "script/bootstrap.js" %}"></script>
	<link href="{% static 'script/bootstrap.css' %}" rel="stylesheet">
	<script type = "text/javascript" src ="{% static "script/bootstrap-slider.js" %}"></script>
	<link href="{% static 'script/bootstrap-slider.css' %}" rel="stylesheet">

  	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>


	<script type = "text/javascript" src ="{% static "js/area_list.js" %}"></script>
	<script type="text/javascript" src="{% static "js/post_ajax_data_people_static_data.js" %}"></script>
	<script type="text/javascript" src="{% static "js/button-control.js" %}"></script>


	<script type="text/javascript" src="{% static "js/csrftoken.js" %}"></script>
	<link href="{% static 'css/lqi_css_1.css' %}" rel="stylesheet">
	<title>welcometolqi</title>
</head>	
<body>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap">
		<div class="container-fluid">
			<div class="navbar-header">
				<img class ="img-fluid rounded float-left" style="max-width: 4%" src="{% static "images/LQI_logo_1.png" %}" alt="">
				<a class="navbar-brand col-sm-2 col-md-3 mr-0  navbar-left" href="#">苙寬資訊資料庫</a>
			</div>
		</div>
	</nav>
	<div class="wrapper d-flex" id='wrapper'>
		<div class='sidebar' id='sidebar'>
			<div class="button-option">
				<div class="static-button" >
					<button type="button" class="btn btn-primary static-button-option" id='static-icon-1'></button>
				</div>
				<div class="static-button">
					<button type="button" class="btn btn-primary static-button-option" id='static-icon-2'></button>
				</div>
				<div class="static-button">
					<button type="button">test</button>
				</div>
				<div class="static-button">
					<button type="button">test</button>
				</div>		
			</div>	
		</div>
		<form id="static-form">
			<div class="controlls">
				<div class='sidebar-menu' id='sidebar-menu'>
					<div class="form-row" >
						<div class="form-group col-md-6">
							<label for="City-input" >請選擇縣市</label>
							<select id="City-input" class="form-control" name="City-input"></select>
						</div>
						<div class="form-group col-md-6">
							<label for="Area-input" >請選擇區域</label>
							<select id="Area-input" class="form-control" name="Area-input"></select>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="總價">
							<label class="form-check-label" for="inlineRadio1">總價</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="單價">
							<label class="form-check-label" for="inlineRadio1">單價</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="屋齡">
							<label class="form-check-label" for="inlineRadio1">屋齡</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="交易總量">
							<label class="form-check-label" for="inlineRadio1">交易總量</label>
							</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="" value="單價">
							<label class="form-check-label" for="inlineRadio1">預留</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="" value="屋齡">
							<label class="form-check-label" for="inlineRadio1">預留</label>
						</div>
					</div>
					<button id="submit-button" type="submit" class="btn btn-primary bottom mb-2 ml-2">Submit</button>	
				</div>
				<div class='sidebar-menu-2' id='sidebar-menu-2'>
					<div class="form-row" >
						<div class="form-group col-md-6">
							<label for="City-input" >請選擇縣市</label>
							<select id="City-input" class="form-control" name="City-input"></select>
						</div>
						<div class="form-group col-md-6">
							<label for="Area-input" >請選擇區域</label>
							<select id="Area-input" class="form-control" name="Area-input"></select>
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="總價">
							<label class="form-check-label" for="inlineRadio1">總價</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="單價">
							<label class="form-check-label" for="inlineRadio1">單價</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="屋齡">
							<label class="form-check-label" for="inlineRadio1">屋齡</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="static_active[]" value="交易總量">
							<label class="form-check-label" for="inlineRadio1">交易總量</label>
							</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="" value="單價">
							<label class="form-check-label" for="inlineRadio1">預留</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="" value="屋齡">
							<label class="form-check-label" for="inlineRadio1">預留</label>
						</div>
					</div>
					<button id="submit-button" type="submit" class="btn btn-primary bottom mb-2 ml-2">Submit</button>	
				</div>
			</div>	
		</form>
		<div id="page-content-wrapper">
			<div class='container-fluid'>
				<div class="highchart-main" id="container" >

				</div>
			</div>
		</div>	
	</div>
	<script>

	</script>
</body>
</html>
