	body{
		margin: 0px;
		padding: 0px;
		font-family: 微軟正黑體;

	}

	#lqi_logo{
		width: 47px;
		position: absolute;
		left: 20px;
	}

	#lqi_logo_pic{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	}

	.head_bar{
		background-color: rgba(7,71,166);
		width: 345px;
		height: 100%;
		position: absolute;
		display: inline;
		clear: both;
		z-index: 10;
	}

	#title{
		position: absolute;
		left: 26%;
		top: 2%;
		font-size: 23px;
		font-family: 微軟正黑體;
		color: rgb(229, 235, 243);
		font-weight: bold;

		}

	

	.user_test{


		position: relative;
		top: 110px;
	}

	.hichart{

		position: absolute;
		left: 345px;
		top: 0px;
		height: 100%;
		width: 100%;
		border-style: solid;
		border-width: 1px;

	}
	#hichart-main{

		height: 100%;
		width: 80%;

	}
	#table_price{
		display: table;
		border: 0.5px solid black;
		max-width: 50%;
		height: 70px;

	}
	.login_logout
	{
		color: rgb(229, 235, 243);
	  position: absolute;
	  top: 90%;
	}

	
	.house_price_table{
		position: relative;
		bottom: : 187px;
		left: 65px;
		display: inline;
	}

	.list_for_price{
		position: relative;
		color: rgb(229, 235, 243);
		left: 11px;
		top: 102px;
		z-index: 20;
	}
	a{
		text-decoration: none;
		color: rgb(229, 235, 243);
	}
