body{
	font-family: 微軟正黑體
}
.sidebar{
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)
}

.sidebar-sticky{
	position: sticky;
	top: 48px;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	padding-left: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
#City-input, #Area-input {
   background: #21212933;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
}
.dropdown-divider {

    height: 1px;
    margin: 8px 0px;
    overflow: hidden;
    border-top: 1px solid #c8cbce;

}
#submit-button {
	background-color:  #21212933;
	border-color: #21212933
}

  
