body{
	font-family: 微軟正黑體;
	overflow-x: hidden;
}
.sidebar{
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	
}

.sidebar-sticky{
	position: sticky;
	top: 48px;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	padding-left: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
#City-input, #Area-input {
   background: #21212933;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
}
.dropdown-divider {

    height: 1px;
    margin: 8px 0px;
    overflow: hidden;
    border-top: 1px solid #c8cbce;

}
#submit-button {
	background-color:  #21212933;
	border-color: #21212933
}

.wrapper{
	display: flex;
	width: 100%;
	
}
#sidebar{
	width: 50px;
	top: 0;
	left: 0;
	background: rgb(231, 235, 239);
	z-index: 999;
	height: 100vh
}
#static-icon-1{
	background: url("/static/images/201-000實價資料.png");
	background-color:rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	width: 31px;
	height: 30px;
	border: rgba(0, 0, 0, 0.5);
}

#static-icon-2{
	background: url("/static/images/204-000購買能力.png");
	background-color:rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	width: 31px;
	height: 30px;
	border: rgba(0, 0, 0, 0.5);
}
.static-button{
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 12px;
}
.controlls{
	height: 100%;
	position: relative;
}
#sidebar-menu-1{
width: 260px;
background: rgba(11, 17, 16, 0.12);
margin-left: 8px;
min-height: 100%;
margin-left: -17rem;
 -webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: absolute;

z-index: 1;
}
#sidebar-menu-2{
width: 260px;
background: rgba(11, 17, 16, 0.12);
margin-left: 8px;
min-height: 100%;
margin-left: -17rem;
 -webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  position: absolute;
}


#page-content-wrapper{
	width: 100%;
	min-width: 0;
	-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;


}

#sidebar-menu-1.toggled {
  margin-left: 0.5rem;
}
#sidebar-menu-2.toggled {
  margin-left: 0.5rem;
}
.form-row{
	padding: 10px;
}
.form-group{
	padding: 2px;
}
#container{
	width:100%;
}
.active{
	width: 100%;
	margin-left: 17rem;
	min-width: 0;
}
.slider-bar{
	padding-left: 14px;
}
.tooltip.in{
	opacity: 3;
	font-family: "Arial"
}
.area-delete{
	text-align: right;
    padding-right: 13px;
}
.delete-button{
	background-image: url('/static/images/x-button .png');
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	width: 24px;
	height: 25px ;
}